*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colsul-btn{
    background-color: #B68C5A;
}
/* banner section start here */
.banner-section{
    background: url(../images/Rectangle\ 6.png)
}
/* Card section */
.card-image{
    width: 70px;
}
.card1{
    transition: 0.5s;
}
.card1:hover{
    transform: scale(1.1);
    background-color: whitesmoke;
}
.card-2{
    background-color: lightgray;
}
/* corousel image */
.slider-one{
    background-image: url(../images/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
}